
body {
	min-width: 835px;
 	margin: 0px;
 	font-family: Verdana;
 	background-color: #fff;
 	height: 100%;
 	font-size: 15px;
 	}
 	html {height: 100%}
 	a {
 		color: #054E7C;
 		text-decoration: none;
 		    cursor:pointer;
 	}
 	a:hover {
 		text-decoration: underline;
 	}
 	p {
 		margin:0;
 		padding: 0;
 	}
 	.titl {
 		font-size:19px;
 	}
 	.title {
		margin-right: -20%;
		font-size: 24px;
		margin-left: -20%;
		text-align: center;
		text-shadow:1px 1px 0px #eee;
 	}
 	#teh {
		text-decoration: none;
		cursor: pointer;
		position: absolute;
		color: #fff;
		margin-top: 40px;
 	}
	header {
		background-color: #336AA8;
		height: 130px;
		width: 100%;
	}
	#logo {
		position: absolute;
		height: 53px;
		left: 20px;
		top: 0px;
	}

	#menu {
		padding-left: 276px;
		padding-top: 15px;

		height: 39px;
		background-image: url('images/menu-bg_n.png');
	}
	#menu a {
color: #fff;
/*background-color: rgba(255, 255, 255, 0.07);*/
padding: 5px;
color: #fff;
padding-bottom: 19px;
padding-top: 15px;
text-shadow: 0px 0px 1px rgb(31, 55, 85);
	}
	#menu a:hover {
		background-color: rgba(255, 255, 255, 0.12);
		text-decoration: none;
	}

	#middle-pol {
		padding-top: 1px;
		width: 100%;
		height: 239px;
		background-image: url('images/middle-bg.png');
		visibility: hidden;
	}

	#content {
		padding-left: 0%;
		padding-right: 0%;

		text-align: left;
		background: #fff;

	}

	#left_user {
		width: 250px;
		padding-top: 14px;
		z-index: 444;
		margin-right: 10px;
		border-radius: 0px 0px 10px 10px;
	}

	#showmenu{
		text-align: center;
		min-width: 100px;
		z-index: 200;
		position: absolute;
		top: 183px;
		left: 50px;
		background-color: #EDF7FD;
		/*box-shadow: 0 0 3px rgba(0,0,0,5);*/
		border-radius: 0px 0px 5px 5px;
		padding-top: 10px;
/*		padding-bottom: 14px;*/
		padding-left: 20px;
		padding-right: 20px;
		border: 0px solid rgba(47, 105, 179, 1);

	}
	#polosa {
		display:table-cell;

		width: 0px;
		background-color: #054E7C;
		margin-right: 10px;
		height: 100%;

	}
	#right_user {
		padding-top: 10px;
		/*margin-left: 20px;*/
height: 100%;
min-height: 600px;
/*margin-bottom: 40px;*/
	}

/*button, .batn, input {
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.0) 70%, rgba(0, 0, 0, 0.1));
	border: 0px solid #000;
padding: 4px;
box-shadow: 0 0 1px rgba(0,0,0,0.5);
border-radius: 6px;
background-color: #fff;
/*font-weight: bold;
margin: 2px;
}
button:hover, .batn:hover, input:hover {
		border: 0px solid #000;
padding: 4px;
box-shadow: 0 0 3px rgba(0,0,0,5);
border-radius: 6px;
}*/

.input-small {
	font-size: 18px;
	width: 200px;
	height: 20px;
	margin: 7px;
}

 #regsel{
	border: 0px;
	height: 30px;
	margin-top: 10px;
	width: 220px;
}

.block_photo {
	float: left;
	background-color: #EDF7FD;
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
	width: 20%;
}

.friend_block {
	border: 1px solid #bbb;
	border-radius: 10px 0 0 10px;
	height: 80px;
	text-align: left;
	background-color: #EDF7FD;
	width: 390px;
}
.friend_text {
	margin-left: 90px;margin-top: -60px;position: absolute;
}

.text_msg {
	background-color:#fff;width:70%;padding:4px;border-radius:7px;margin:10px;
}
.date_msg {
	right: 20%;
	font-size: 10px;
	color: rgb(124, 124, 124);
	margin-top: -45px;
	text-shadow: 1px 1px 0px rgb(255, 255, 255);
	height: 40px;
	margin-left: 80%;
}
.phot {
	
}
.photo {
	float: left;
	background-size: cover;
/*height: 40%;*/
width: 100%;
/*min-height: 40px;
min-width: 50px;
*/
}
.block_photo:hover {

	box-shadow: 0 0 4px rgba(0,0,0,0.5);

}

#ph_prev {
    top: -200px;
    left: 20px;
    z-index: 1;
    position: relative;
    display: inline;
    height: 1px;
    padding: 60px;
    background-image: url("images/prev.png");
    background-repeat: no-repeat;
    opacity: 0.5;
}
#ph_prev:hover {
opacity: 0.8;
	}
#ph_main {
	z-index: 222;position: relative;display: inline;	
}

#ph_next {
z-index: 1;
position: relative;
display: inline;
height: 1px;
top: -200px;
right: 15px;
padding: 60px;
background-image: url("images/next.png");
background-repeat: no-repeat;
background-position: 30px center;
opacity: 0.5;

}
#ph_next:hover {
opacity: 0.8;
	}
.pn_photo {
	opacity:0.5
}
.pn_photo:hover {
	opacity: 0.8;
}
.pod_photo {
width: 100%;
color: #EDF7FD;
text-shadow: 0px 0px 2px #000;
position: static;
margin-top: 87%;
min-height: 30px;
text-align: center;
background-color: rgba(0, 0, 0, 0.17);
text-overflow: ellipsis; 
overflow: hidden; 
white-space: nowrap; 
}
#wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
}

#footer {
	width: 100%;
	margin: 0px auto 0;
	background-color: #054E7C;
	 border-style: 1px solid #fff;
	 color: #fff;
	 padding-top: 70px;
	 position: relative;  
 height: 80px;  


}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -100px 0; /* отрицательный нижний отступ на высоту футера */
    padding: 0;
}
.footer-push, .footer {
    height: 100px;
    margin: 0;
    padding: 0;
}


#simplemodal-overlay {background-color:#000;}
#simplemodal-container {box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
   background-color:#333; border:8px solid #444; padding:12px;/*width:60%;height:100%;*/}
#simplemodal-data {height: 99%}
.frame{
    display:inline-block;
    position:relative;
    overflow:hidden;
    width: 200px;
    height: 200px;
}
.frame>img{
    vertical-align:top;
}
.frame, .frame:before{
    -moz-border-radius:100em;
    border-radius:100em;
    
}
.frame>img{
    -webkit-border-radius:100em;   
}
.frame:before{
    /*content:'';*/
    display:block;
    position:absolute;
    left:0;
    right:0;
    width:100%;
    height:100%;
    margin:-10em;
    border:10em solid #333;
}


.modal-close {
	background-image: url('images/close_n.png');
	width: 31px;
	height: 32px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: -26px;
	right: -21px;
	cursor: pointer

}
.modal-close:hover {
	background-size: 120%;
}
.iptotop {
position: fixed;
right: 20px;
bottom: 20px;
width: 48px;
height: 48px;
display: block;
background: url("images/top.png") 0 0 no-repeat;
z-index: 99999999;
-webkit-transition: all .7s ease-in-out;
-moz-transition: all .7s ease-in-out;
-o-transition: all .7s ease-in-out;
-ms-transition: all .7s ease-in-out;
transition: all .7s ease-in-out
}
.iptotop:hover {
background: url("images/top_hov.png") 0 0 no-repeat;
}
.iptotop.hidden {
bottom: -100px
}


.block {
	border-radius: 10px;
	margin-bottom:40px;text-align:left;background-color: #EDF7FD;padding: 10px;
}
.p_block {
	border-radius: 10px;
	margin-bottom:40px;text-align:left;background-color: #EDF7FD;padding: 10px;
	margin-top:-20px;margin-left:1%;margin-right:1%;height:400px;width:28%;display: inline-table;
}
