body {
 	margin: 0px;
 	font-family: Verdana;
 	background-color: #054E7C;
 	}
 	a {
 		color: #054E7C;
 	}
 	.title {
		margin-right: -20%;
		font-size: 30px;
		margin-left: -20%;
		text-align: center;
 	}
	header {
		background-color: #336AA8;
		height: 130px;
		width: 100%;
	}
	#logo {
		padding-top:20px;
	}

	#menu {
		padding-top: 15px;
		width: 100%;
		height: 41px;
		background-image: url('images/menu-bg.png');
	}
	#menu a {
		color: #fff;
	}

	#middle-pol {
		padding-top: 1px;
		width: 100%;
		height: 239px;
		background-image: url('images/middle-bg.png');
	}

	#content {
		padding-left: 20%;
		padding-right: 20%;
		margin-bottom: 2px;
		text-align: left;
		padding-top: 1px;
		padding-bottom: 40px;
		background: #fff;
	}

.but {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1d5b99), color-stop(1, #4097ed) );
	background:-moz-linear-gradient( center top, #1d5b99 5%, #4097ed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3678ba', endColorstr='#4097ed');
	background-color:#3678ba;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:80px;
	line-height:40px;
	width:300px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #2d70b3;
}
.but:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4097ed), color-stop(1, #3678ba) );
	background:-moz-linear-gradient( center top, #4097ed 5%, #3678ba 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4097ed', endColorstr='#3678ba');
	background-color:#4097ed;
}.but:active {
	position:relative;
	top:1px;
}

.input-small {
	font-size: 18px;
	width: 200px;
	height: 20px;
	margin: 7px;
}

select{
	border: 0px;
	height: 30px;
	margin-bottom: 10px;
	width: 240px;
	margin-left: 40px;
}

footer {
	width: 100%;
	background-color: #054E7C;
	height: 190px;
	 position: relative;
	 border-style: 1px solid #fff;
}

#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#333; border:8px solid #444; padding:12px;width:60%;height:100%;min-height: 400px;}
#simplemodal-data {height: 99%}