
body {
	min-width: 835px;
 	margin: 0px;
 	font-family: Myriad Pro,Verdana;
 	background-color: #fff;
 	height: 100%;
 	font-size: 15px;
 	width: 950px;
	margin: 0 auto;
 	}
 	html {height: 100%}
 	a {
 		color: #054E7C;
 		text-decoration: none;
 		    cursor:pointer;
 	}
 	a:hover {
 		text-decoration: underline;
 	}
 	p {
 		margin:0;
 		padding: 0;
 	}
 	.titl {
 		font-size:19px;
 	}
 	.title {
		margin-right: -20%;
		font-size: 24px;
		margin-left: -20%;
		text-align: center;
		text-shadow:1px 1px 0px #eee;
 	}
 	.textbox {
 		color: #3A6397;
font-size: 19px;
text-shadow: 1px 1px #BEBEBE;
background-color:rgba(255, 255, 255, 0.41);
width:40%;
border-radius: 10px;
padding: 5px;
 	}
 	#teh {
		text-decoration: none;
		cursor: pointer;
		position: absolute;
		color: #fff;
		margin-top: 40px;
		margin-left: 10px;
 	}
 	#inf {
		text-decoration: none;
		cursor: pointer;
		position: absolute;
		color: #fff;
		margin-top: 40px;
		margin-left: 250px;
 	}
	header {
		background-color: #336AA8;
		height: 130px;
		width: 100%;
	}
	#logo {
		position: absolute;
		height: 43px;
		top: 10px;
		padding-left: 15px;

	}

	#menu {
		padding-left: 250px;
		padding-top: 18px;

		height: 35px;
			background-color: #404c53;
		margin-top: 4px;
	}
	#menu a {
color: #fff;
/*background-color: rgba(255, 255, 255, 0.07);*/
padding: 5px;
color: #fff;
padding-bottom: 18px;
padding-top: 21px;
text-shadow: 0px 0px 1px rgb(31, 55, 85);
margin-right: -5px;

	}
	#menu a:hover {
		background-color: rgba(255, 255, 255, 0.12);
		text-decoration: none;
	}

	#middle-pol {
		padding-top: 1px;
		width: 100%;
		height: 239px;
		background-image: url('images/middle-bg.png');
		visibility: hidden;
	}

	#content {
		padding-left: 0%;
		padding-right: 0%;
/*		padding-bottom: 30px;*/
		text-align: left;
		/*background: #fff;
*/
	}

	#left_user {
		width: 250px;
		padding-top: 14px;
		z-index: 444;
		border-radius: 0px 0px 5px 5px;
		float: left;
		margin-right: 10px;
		padding: 0px;
		box-shadow: 0 0 2px rgba(0,0,0,0.2);
	}
	#upload_ava {
		position: absolute;margin-left: 57px;margin-top: -108px;
	}
	#ava_n_spec {
		background-image: url('images/pls_bg.png');
		background-repeat: repeat;
	}
	#name_spec {
		background-image: url('images/whi_pls_bg.png');
		background-repeat: repeat;
		padding: 3px;
		width: 243px;
		box-shadow: 0px 0px 0px 1px rgb(226, 226, 226);
		margin-top: 8px;
		color:#4777b4;
		font-size: 19px;
			}
	.kruglyashok {
		background-color: #4777b4;
		border-radius: 100%;
		float: right;
		padding-top: 4px;
		padding-left: 8px;
		padding-right: 8px;
		color:#fff;
		margin-right: 40px;
		margin-top: -2px;
	}
	
	.left_menu_ul {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		margin-top: 1px;
		background-color: rgba(255, 255, 255, 0.67);
		border-radius: 0px 0px 5px 5px;
	}
	.left_menu_ul li{
box-shadow: 0px 0px 0px 1px rgb(226, 226, 226);
padding: 10px;
width: 189px;
margin-top: 1px;
text-decoration: none;
padding-left: 50px;
	}
		.left_menu_ul li:hover {
			background-color: rgba(102, 120, 110, 0.17);
		}
		.left_menu_ul a li {
			color: #000;
		}

		.left_menu_ul a{
			text-decoration: none;
		}

	.pad_rig {
		padding-right: 20px;
		position: absolute;
		margin-left: -40px;
		margin-top: -5px;
	}
	#acc_pro {
		background-image: url('images/pro.png');
		width: 46px;
		height: 42px;
		position: absolute;
		margin-left: 195px;
		margin-top: 5px;
	}
	#acc_free {
		background-image: url('images/free_ac.png');
		width: 40px;
		height: 27px;
		position: absolute;
		margin-left: 15px;
		margin-top: 5px;
	}
	.status {
text-align: center;

font-size: 17px;
color: rgb(66, 177, 106);


text-shadow: 1px 1px 1px #FFF;
padding: 0PX;
margin-left: 80px;
margin-right: 80px;
/*background-color: #EBEBEB;
border-radius: 10px;*/
/*box-shadow: 0 0 9px rgba(0,0,0,0.1);*/

margin-top: 4px;
	}

	#polosa {
		display:table-cell;

		width: 0px;
		background-color: #054E7C;
		margin-right: 10px;
		height: 100%;

	}
	#right_user {
padding-top: 10px;
height: 100%;
min-height: 670px;
width: 670px;
background-color: #fff;
padding-left: 265px;
padding-bottom: 20px;

	}


.input-small {
	font-size: 18px;
	width: 200px;
	height: 20px;
	margin: 7px;
}

 #regsel{
	border: 0px;
	height: 30px;
	margin-top: 10px;
	width: 220px;
}

.block_photo {
	float: left;
	background-color: rgba(219, 219, 219, 0.72);
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
	width: 20%;
}

.friend_block {
	border: 1px solid #bbb;
	border-radius: 10px 0 0 10px;
	height: 80px;
	text-align: left;
	background-color: rgba(219, 219, 219, 0.72);
	width: 80%;
}
  .block_msg {
  background-color: #D7DBDD;
  padding: 7px;
  border-radius: 7px;
  width: 83%;
  min-width: 500px;
  margin-bottom: -5px;
}
.block_msg_user {
  background-color: #336aa8;
  padding: 7px;
  border-radius: 7px;
  width: 83%;
  min-width: 500px;
  margin-bottom: -5px;
}

.friend_text {
margin-left: 90px;
margin-top: -60px;
width: 80%;
text-overflow: ellipsis;
overflow: hidden;

height: 34px;
background-color: #FFF;
border-radius: 10PX;
padding: 4PX;
}

.text_msg {
	background-color:#fff;width:70%;padding:4px;border-radius:7px;margin:10px;
}
.date_msg {
	right: 20%;
	font-size: 10px;
	color: rgb(124, 124, 124);
	margin-top: -45px;
	text-shadow: 1px 1px 0px rgb(255, 255, 255);
	height: 40px;
	margin-left: 80%;
}
.date_msg_user {
	right: 20%;
	font-size: 10px;
	color: rgb(255, 255, 250);
	margin-top: -45px;
	/*text-shadow: 1px 1px 0px rgb(255, 255, 250);*/
	height: 40px;
	margin-left: 80%;
}
.phot {
	
}
.photo {
	float: left;
	background-size: cover;
/*height: 40%;*/
width: 100%;
/*min-height: 40px;
min-width: 50px;
*/
}
.block_photo:hover {

	box-shadow: 0 0 4px rgba(0,0,0,0.5);

}

#ph_prev {
    top: -200px;
    left: 20px;
    z-index: 1;
    position: relative;
    display: inline;
    height: 1px;
    padding: 60px;
    background-image: url("images/prev.png");
    background-repeat: no-repeat;
    opacity: 0.5;
}
#ph_prev:hover {
opacity: 0.8;
	}
#ph_main {
	z-index: 222;position: relative;display: inline;	
}

#ph_next {
z-index: 1;
position: relative;
display: inline;
height: 1px;
top: -200px;
right: 15px;
padding: 60px;
background-image: url("images/next.png");
background-repeat: no-repeat;
background-position: 30px center;
opacity: 0.5;

}
#ph_next:hover {
opacity: 0.8;
	}
.pn_photo {
	opacity:0.5
}
.pn_photo:hover {
	opacity: 0.8;
}
.pod_photo {
width: 100%;
color: #EDF7FD;
text-shadow: 0px 0px 2px #000;
position: static;
margin-top: 87%;
min-height: 30px;
text-align: center;
background-color: rgba(0, 0, 0, 0.17);
text-overflow: ellipsis; 
overflow: hidden; 
white-space: nowrap; 
}
#wrapper {
	width: 100%;
	min-height: 640px;
	height: auto !important;
}

#footer {
	width: 100%;
	margin: 0px auto 0;
	background-color: #054E7C;
	 border-style: 1px solid #fff;
	 color: #fff;
	 padding-top: 30px;
	 position: relative;  
 height: 70px;  


}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -100px 0; /* отрицательный нижний отступ на высоту футера */
    padding: 0;
}
.footer-push, .footer {
    height: 100px;
    margin: 0;
    padding: 0;
}


#simplemodal-overlay {background-color:#000;}
#simplemodal-container {box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
   background-color:#333; border:8px solid #444; padding:12px;/*width:60%;height:100%;*/}
#simplemodal-data {height: 99%}
.frame{
    display:inline-block;
    position:relative;
    overflow:hidden;
    width: 200px;
    height: 200px;
}
.frame>img{
    vertical-align:top;
}
.frame, .frame:before{
    -moz-border-radius:100em;
    border-radius:100em;
    
}
.frame>img{
    -webkit-border-radius:100em;   
}
.frame:before{
    /*content:'';*/
    display:block;
    position:absolute;
    left:0;
    right:0;
    width:100%;
    height:100%;
    margin:-10em;
    border:10em solid #333;
}


.modal-close {
	background-image: url('images/close_n.png');
	width: 31px;
	height: 32px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: -26px;
	right: -21px;
	cursor: pointer

}
.modal-close:hover {
	background-size: 120%;
}
.iptotop {
position: fixed;
right: 20px;
bottom: 20px;
width: 48px;
height: 48px;
display: block;
background: url("images/top.png") 0 0 no-repeat;
z-index: 99999999;
-webkit-transition: all .7s ease-in-out;
-moz-transition: all .7s ease-in-out;
-o-transition: all .7s ease-in-out;
-ms-transition: all .7s ease-in-out;
transition: all .7s ease-in-out
}
.iptotop:hover {
background: url("images/top_hov.png") 0 0 no-repeat;
}
.iptotop.hidden {
bottom: -100px
}


.block {
	border-radius: 10px;
	margin-bottom:40px;text-align:left;background-color: rgba(219, 219, 219, 0.72);padding: 10px;
}
.p_block {
	border-radius: 10px;
	margin-bottom:40px;text-align:left;background-color: rgba(219, 219, 219, 0.72);padding: 10px;
	margin-left:1%;margin-right:1%;height:400px;width:28%;display: inline-table;
}

.m_bl {
	margin-top:20px;background-color: rgba(89, 124, 163, 0.39);padding-top: 30px;
}
.m_t_block {
	padding-bottom: 15px;padding-top:10px;font-size: 20px;background-color: rgba(54, 106, 172, 0.39);margin-top: -20px;margin-top: -20px;color:#3277B9;
}

#entry,#auth {
	margin-top: -7px;
}



.footer {

	/*margin: -300px auto 0;*/
	height: 300px;
	background: #515f67;
	position: relative;
}
#m_footer {
	
	height:40px;
	background-color: #fff;
	padding-left: 40px;
	padding-top: 10px;
	font-size: 17px;
	color:#515f67; 
}
.rekl {
padding-top: 70px;
padding-left: 50px;
width: 200px;
float: left;
}
.f_title {
	font-weight:bold;
	font-size: 20px;
	color:#fff;
	text-shadow: 1px 1px 2px rgb(53, 53, 53);
}
.f_text {
	position:absolute;margin-top:-50px;margin-left:50px;
	font-size: 15px;
	color:#fff;
	text-shadow: 1px 1px 2px rgb(53, 53, 53);
	width: 240px;
}
